* {
  margin: 0;
  padding: 0;
}
.App {
  min-heigth: hight 100vh;
  padding: 0 16px 16px 16px;
  text-align: center;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.recipe-card {
  display: flex;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

img {
  border-radius: 8px 0 0 0;
}

li {
  text-align: left;
  text-decoration-style: none;
}

.nav-bar {
  margin: 0;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none; 
  padding: 10px;
  border-radius:  5px 0 0 5px;
}

.search-button {
  background: rgb(224, 161, 161);
  border: none; 
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  font-weight: bold;
}